<div class="new-data">
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8 table-margin">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="npm" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="npm">
            <mat-header-cell *matHeaderCellDef mat-sort-header>NPM</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.npm}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="kelas">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Kelas</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.kelas}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <button (click)="getMahasiswaDetail(element.npm)">View</button>
                <button (click)="deleteMahasiswaDetail(element.npm)">Delete</button>
            </mat-cell>>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
    </table>

    <mat-paginator [length]="numberOfRows" [pageSizeOptions]="[2, 3, 5]" (page)="getPagination($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>