<div *ngIf="!data">
    <form [formGroup]="mahasiswaForm" (ngSubmit)="onFormSubmit(mahasiswaForm.value)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="NPM" formControlName="npm" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('npm').valid && mahasiswaForm.get('npm').touched">
                Please enter your NPM
            </mat-error>
        </mat-form-field>
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('nama').valid && mahasiswaForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Kelas" formControlName="kelas" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('kelas').valid && mahasiswaForm.get('kelas').touched">
                Please enter your kelas
            </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!mahasiswaForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>

<div *ngIf="data">
    <form [formGroup]="mahasiswaForm" (ngSubmit)="onFormSubmitUpdate(mahasiswaForm.value)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="NPM" formControlName="npm" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('npm').valid && mahasiswaForm.get('npm').touched">
                Please enter your NPM
            </mat-error>
        </mat-form-field>
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('nama').valid && mahasiswaForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Kelas" formControlName="kelas" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!mahasiswaForm.get('kelas').valid && mahasiswaForm.get('kelas').touched">
                Please enter your kelas
            </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!mahasiswaForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>