.sidenav-container {
  height: 100%;
  mat-sidenav {
    box-shadow: 0 0 10px -5px #bbb;
    border: none;
  }
}

.sidenav-logo-container {
  width: 200px;
  height: 100px;
  padding: 16px;
  border-radius: 0 0 50% 50%;
  box-shadow: 0 10px 15px -10px #bbb;
  background: white;
  margin-bottom: 16px;
}

svg {
  max-height: 100%;
  max-width: 100%;
  .p0 {
    fill: blue;
  }
  .p1 {
    fill: darken(blue, 20);
  }
  .p2 {
    fill: white;
  }
}
